    </div>

    <footer class="site__footer">
        <!-- Site footer -->
    </footer>

    <!-- JS -->
    <script>
      window.APP = window.APP || {}
      APP.API_URL = "/api"
    </script>

    {% if assets['vendor.js'] is defined %}
      <script src="{{ url_for('static', filename=assets['vendor.js']) }}" defer></script>
      <script src="{{ url_for('static', filename=assets['app.js']) }}" defer></script>
    {% else %}
      <script src="{{ url_for('static', filename=assets['app.js']) }}" defer></script>
    {% endif %}
  </body>
</html>