<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5, minimal-ui, shrink-to-fit=no">
        <meta name="theme-color" content="#f7f5f5">

        <title>{{ title }}</title>

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='images/favicon/manifest.json') }}">
        
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename=assets['app.css']) }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div id="app" class="site__container">

		{% block content %}
		<div class="view view--inscription inscriptionPage" data-namespace="inscription">
			
			<img src="../../static/images/iphoneMockups.png" class="iphoneMockup" />

			<div class="inscriptionCards">
				<form class="inscriptionCard" method="POST">
					<div class="card darken-1">
						<div class="card-content white-text">

							<img src="../../static/images/image.png" class="imgCard" />

							<span class="card-title titleCard">InstaGrum'</span>

							<div class="input-field textFieldsCard">
								<input type="text" class="validate" name="inscription[firstName]">
								<label for="prenom">Prenom</label>
							</div>

							<div class="input-field textFieldsCard">
								<input type="text" class="validate" name="inscription[lastName]">
								<label for="name">Nom</label>
							</div>

							<div class="input-field textFieldsCard">
								<input type="text" class="validate" name="inscription[userName]">
								<label for="userName">Nom d'utilisateur</label>
                            </div>
                            

							<div class="input-field textFieldsCard">
								<input type="text" class="validate" name="inscription[mail]">
								<label for="mail">Adresse mail</label>
							</div>

							<div class="input-field textFieldsCard">
								<input type="password" class="validate" name="inscription[password]">
								<label for="password">Mot de passe</label>
							</div>

							<button class="btn btnCard" type="submit" name="action">Suivant</button>
							
						</div>
					</div>
                </form>
                
                <div class="inscriptionCard">
					<div class="card darken-1">
						<div class="card-content white-text">

							<p class="noAccount">Vous avez un compte ?</p>
							
							<a class="btn btnCardNoAcc" href="{{ url_for('login') }}">Connectez-vous</a>
							
						</div>
					</div>
				</div>

			</main>
		</div>
	</body>
{% endblock %}
{% include 'partials/footer.html' %}