{% extends "base.html" %}
{% block content %}

<main class="view view--post" data-namespace="post">
    <div class="container">
        <div class="row center-xs">

            <div class="post">
                <div class="post__picture">                    
                    <img src="{{url_for('file', filename=image)}}">
                </div>
                <div class="post__content">
                    <h1>Coucou</h1>
                    <form method="POST" action="/deleteImage/{{image}}" enctype="multipart/form-data">
                        <button class="btn" type="submit">Supprimer cette photo</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</main>

{% endblock %}