{% extends "base.html" %}
{% block content %}

<main class="view view--post" data-namespace="post">
    <div class="container">
        <div class="row center-xs">

            <div class="post">
                <div class="post__picture">
                    <img src="https://via.placeholder.com/700">
                </div>
                <div class="post__content">
                    <h3>content</h3>
                </div>
            </div>

        </div>
    </div>
</main>

{% endblock %}