.view--forgot-password {
    background: #fafafa;
    min-height: 100vh;
}

.container-security {
    margin:     120px 0 !important;
    text-align: left !important;

    h4 {
        margin-bottom: 25px;
    }
}